* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(212, 45%, 89%);

}

@font-face {
    font-family: 'Outfit';
    src: url(qr-code-component-main/qr-code-component-main/fonts/Outfit-VariableFont_wght.ttf);
}

body p {
    font-size: 15px;
}

body {
    font-family: Outfit;
}
.main {
    background-color: white;
    width: 275px;
    height: 400px;
    margin: 150px 0 0px 50px;
    border-radius: 10px;
}

.qr {
    margin-top: 12.5;
    margin-left: 12.5;
    width: 250px;
    display: inline-block;
    border-radius: 10px;
}

p {
    background-color: white;
    text-align: center;
}

.p1 {
    font-weight: 700;
    margin: 20px 0 10px 0px;
}

.p2 {
    font-weight: 400;
    opacity: 50%;
}

.margin {
    margin: -20px 0 0 35%;
    width: 100px;
    height: 100px;

}

.main  {
    transition: transform .7s;
}

.main:hover {
    transform: scale(1.1);
}